# Copyright (C) 2022 Justin Schuh <code@justinschuh.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license.

[gcode_macro _load_unload]
gcode:
  {% set saved_extruder = printer.toolhead.extruder %}
  {% set EXTRUDER = params.EXTRUDER|default(saved_extruder)|lower %}
  {% set TARGET = params.TARGET|default(
           printer.configfile.settings[EXTRUDER].min_extrude_temp) %}
  {% if TARGET < printer.configfile.settings[EXTRUDER].min_extrude_temp %}
    { action_raise_error("Extrude below minimum temp") }
  {% elif printer.idle_timeout.state == "Printing" and
     not printer.pause_resume.is_paused %}
    { action_raise_error("Command not valid during printing.") }
  {% endif %}
  {% set km = printer["gcode_macro _km_globals"] %}
  {% set SPEED = params.SPEED|default(km.load_speed) %}
  {% set priming_length = km.load_priming_length %}
  {% set LENGTH = params.LENGTH|default(km.load_length)|float - priming_length%}
  {% if LENGTH < 0 %}
    {% set priming_length = (priming_length + LENGTH, 0)|max %}
    {% set LENGTH = 0 %}
  {% endif %}
  SAVE_GCODE_STATE NAME=_LOAD_UNLOAD
  {% if EXTRUDER != saved_extruder%}
    ACTIVATE_EXTRUDER EXTRUDER={EXTRUDER}
  {% endif %}
  {% if printer[EXTRUDER].target < TARGET %}
    M109 S{TARGET}
  {% endif %}
  M83
  {% if params.LOAD|int %}
    G1 E{LENGTH} F{SPEED}
    G1 E{priming_length} F{(km.load_priming_speed, SPEED)|min}
    G1 E{'%.4f' % -printer["gcode_macro resume"].saved_e} F{km.load_speed}
  {% else %}
    G1 E3.0 F{SPEED}
    G4 P500
    G1 E{'%.4f' % -priming_length} F{(km.load_priming_speed, SPEED)|min}
    G1 E{'%.4f' % -LENGTH} F{SPEED}
  {% endif %}
  M400
  RESTORE_GCODE_STATE NAME=_LOAD_UNLOAD

[gcode_macro load_filament]
description: Loads filament to the extruder.
  Usage: LOAD_FILAMENT [LENGTH=<distance>] [SPEED=<speed>]
                       [EXTRUDER=<extruder>] [TARGET=<temperature>]
gcode:
  # Dummy argument block for Mainsail
  {% set dummy = None if True else "
  {% set dummy = params.LENGTH|default(variable_load_length)|float %}
  {% set dummy = params.SPEED|default(variable_load_speed)|float %}
  {% set dummy = params.EXTRUDER|default(current extruder) %}
  {% set dummy = params.TARGET|default(current temp)|int %}
  " %} # End argument block for Mainsail
  {% set extruder = printer["extruder" ~ params.T]
     if params.T|default(0)|int != 0 else printer.toolhead.extruder %}
  _LOAD_UNLOAD LOAD=1 EXTRUDER={extruder}{% for k in params|reject("==", "T")
    %}{' '~k~'="'~params[k]~'"'}{% endfor %}

[gcode_macro unload_filament]
description: Unloads filament from the extruder.
  Usage: UNLOAD_FILAMENT [LENGTH=<distance>] [SPEED=<speed>]
                         [EXTRUDER=<extruder>] [TARGET=<temperature>]
gcode:
  # Dummy argument block for Mainsail
  {% set dummy = None if True else "
  {% set dummy = params.LENGTH|default(variable_load_length)|float %}
  {% set dummy = params.SPEED|default(variable_load_speed)|float %}
  {% set dummy = params.EXTRUDER|default(default extruder) %}
  {% set dummy = params.TARGET|default(current temp)|int %}
  " %} # End argument block for Mainsail
  _LOAD_UNLOAD LOAD=0{% for k in params|reject("==", "T")
    %}{' '~k~'="'~params[k]~'"'}{% endfor %}

[gcode_macro _lift_m700]
gcode:
  {% if printer.toolhead.homed_axes != 'xyz' %}
    { action_raise_error("Must home axis first.") }
  {% endif %}
  SAVE_GCODE_STATE NAME=_LIFT_M700
  G91
  G0 Z{params.Z}
  RESTORE_GCODE_STATE NAME=_LIFT_M700

[gcode_macro m701]
description: Loads filament to the extruder.
  Usage: M701 L<distance> [Z<pos>] [T<extruder>]
gcode:
  {% set extruder = printer["extruder" ~ params.T|int]
     if params.T|default(0)|int != 0 else printer.toolhead.extruder %}
  {% if 'Z' in params %}_LIFT_M700 Z={params.Z}{%endif%}
  LOAD_FILAMENT LENGTH={params.L} EXTRUDER={extruder
    }{% if not printer[printer.toolhead.extruder].can_extrude %} TARGET={
      printer.configfile.settings[extruder].min_extrude_temp
    }{% endif %}

[gcode_macro m702]
description: Unloads filament from the extruder.
  Usage: M701 U<distance> [Z<pos>] [T<extruder>]
gcode:
  {% set extruder = printer["extruder" ~ params.T|int]
     if params.T|default(0)|int != 0 else printer.toolhead.extruder %}
  {% if 'Z' in params %}_LIFT_M700 Z={params.Z}{%endif%}
  UNLOAD_FILAMENT LENGTH={params.U} EXTRUDER={extruder
    }{% if not printer[printer.toolhead.extruder].can_extrude %} TARGET={
      printer.configfile.settings[extruder].min_extrude_temp
    }{% endif %}
