# Copyright (C) 2022 Justin Schuh <code@justinschuh.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license.
#
# Credit to original source:
# https://gist.github.com/ChipCE/95fdbd3c2f3a064397f9610f915f7d02

[gcode_macro bed_mesh_calibrate]
rename_existing: _KM_BED_MESH_CALIBRATE_BASE
description: Wraps BED_MESH_CALIBRATE, scaling probe count to specified area.
  Usage: See Klipper documentation.
gcode:
  BED_MESH_CALIBRATE_FAST{%for k in params%}{' '~k~'="'~params[k]~'"'}{%endfor%}

[gcode_macro g29]
gcode:
  BED_MESH_CALIBRATE

[delayed_gcode _set_bed_mesh_calibrate_cmd]
initial_duration: 1
gcode:
  SET_GCODE_VARIABLE MACRO=bed_mesh_calibrate_fast VARIABLE=calibrate_cmd VALUE='"_km_bed_mesh_calibrate_base"'
